/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}
body {
    line-height: 1.5;
    
}
a {
    text-decoration: none;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #273748;
    padding: 32px 0;
}

.logo img {
    width: 20%;
    margin-bottom: 20px;
   
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.text-center {
    text-align: center;
}

.padding {
    padding: 100px 0;
}
.bg-gradient {
    background-image: linear-gradient(to bottom, #2A4753 , #4EA17F);
}
.nav-menu a {
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 40px;
    font-size: 1.5em;
}

.hero-heading {
    color: #DFF6E1;
    font-size: 5em;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 20px;
    margin: 20px 0;
}

.hero-subheading {
    color: #DFF6E1;
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0;
    
}

.section-heading {
    color: #2C3E50;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 40px;
}
.portfolio .flex {
    flex-wrap: wrap;
}
.portfolio-img {
    width: 31%;
    padding: 2%;
    margin-bottom: 3%;
}
.bg-pink {
    background-color: #BA4C62;
}
.bg-blue {
    background-color: #43A2B4;
}
.bg-black {
    background-color: #000000;
}
.bg-green {
    background-color: #3082C1;
}
.bg-red {
    background-color: #1836B5;

}

.bg-brown {
    background-color: #CCB2A3;
}
.portfolio-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;

}

.about h2 {
    color: #DFF6E1;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 20px;
    margin: 20px 0;
}
.article-container {
    max-width: 1000px;
    margin: 0 auto;
}

.article-col {
    margin: 50px 0;
    align-items: flex-start;
    
}


.about-text {
    width: 48%;
    color: #ffffff;
    font-size: 1.5em;
    
    text-align: left;
}

.btn {
    padding: 12px 40px;
    border-radius: 3px;
    margin: 20px 0;
}

.about .btn {
    border: 2px solid #000000;
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
}

.form-action {
    width: 100%;
    margin: 20px 0;
    color: #93A8BD;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #93A8BD;
    background-color: transparent;
    padding: 20px;
    font-size: 1.5em;
    outline: none;
}

form .btn {
    background-color: #2A4753;
    color: #ffffff;
    font-size: 20px;
    border: #2A4753 ;
}
.map {
    background-color: #BDC7D2;
}


.table h2 {
    color: #000000;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 20px;
    margin: 20px 0;
    text-align: center;
}
  
table {
    margin: 40px 0;
    width: 100%;
    font-size: 1.3em;
}
thead {
    text-align: left;
    background-color: #1E2539;
}
th,td {
    padding: 20px;
}

tbody {
    color: #000000;
}
tbody tr:nth-child(even) {
    background: #2B3346;
}

tbody tr:nth-child(odd) {
      background-color: #323B50;
}

.col-heading {
    color: #225775;
    font-weight: bold;
}

.organisation {
    color: #EC6279;
}

.contact {
    background-color: #2C3E50;
}

.contact h3 {
    color: #fff;
    font-size: 2.5em;
    text-transform: uppercase;
}
.col {
    width: 30%;
    

}

.col p {
    color: #ffffff;
    font-size: 1.5em;
}
.contact-article {
    align-items: flex-start;
   
    
}
.social-links {
    justify-content: space-evenly;
}

.social-links a {
    color: #ffffff;
    font-size: 1.5em;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 5px;
}

.footer {
    background-color: #1E2539;
    color: #ffffff;
    padding: 30px 0;
    font-size: 1.5em;
}

@media all and (max-width: 760px)
{   
    /* body {
        border: 1px solid black;
        padding: 0 4%;
    } */
    
    .hero-heading {
        font-size: 2em; 
        word-spacing: none;
    }
    .logo {
        text-align: center;
    }
    .navigation {
        justify-content: center;
    }
   .menu-links li {
       width: 100%;
       text-align: center;
       margin-bottom: 20px;
       
   }
   .menu-links a{
       margin-left: 0;

   }
   
    .portfolio-img {
        width: 60%;
    }
    .gallery {
        justify-content: center;
    }
    .about-text {
        width: 52%;
        margin: 40px 0;
    }
    .article-col{
        justify-content: center;
    }
    .col {
        width: 60%;
        margin: 40px 0;
        
    }
    .contact-article {
        justify-content: center;
    }
}